# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# Database file
*.db
*.sqlite3

# Streamlit secrets
.streamlit/secrets.toml
.streamlit/

# IDE / Editor specific
.idea/
.vscode/
*.sublime-project
*.sublime-workspace